:root {
    --primary-cyan: #90c3bc;
    --primary-orange: #f38169;
    --neutral-beige: #fdf2f0;
    --accent-yellow: #f7c678;
    --neutral-white: #ffffff;
    --neutral-dark-blue: #2c2b3b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--neutral-dark-blue);
}

body {
    font-size: 16px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Section */
section {
    padding: 50px 20px;
}

/* Typography */
.display1 {
    display: inline;
    font-size: 1.625em;
    text-transform: uppercase;
    font-style: italic;
}

.display2 {
    display: inline;
    font-size: 1.25em; 
    text-transform: uppercase;
}

.display3 {
    font-size: 1.125em;
    background-color: transparent;
    font-style: italic;
    margin: 20px 20%;
    border: none;
    outline: none;
}

p {
    line-height: 1.6;
    margin: 30px 0 50px 0;
}

/* Button Styles */
.btn {
    padding: 15px 20px;
    color: var(--neutral-white);
    font-weight: 700;
    background-repeat: no-repeat;
    background-size: 100% 0%;
    background-position: 50% 100%;
    transition: all 0.2s ease-out 0s;
    border: none;
    outline: none;
}

.btn--cyan {
    background-color: var(--primary-cyan);
    background-image: linear-gradient(0deg, #f38169 0%, #f38169 100%);
}

.btn--cyan:hover,
.btn--orange:hover {
    background-color: transparent;
    background-size: 100% 100%;
}

.btn--orange {
    background-color: var(--primary-orange);
    background-image: linear-gradient(0deg, #90c3bc 0%, #90c3bc 100%);
}

/* Highlight */
.highlight--orange {
    background-image: linear-gradient(to top,transparent 5%,#f7c678 5%,#f7c678 37%,transparent 37%);
}

.highlight--cyan {
    background-image: linear-gradient(to top,transparent 5%,#90c3bc 5%,#90c3bc 37%,transparent 37%);
}

/* Header */
header {
    background-color: var(--neutral-beige);
}

#intro {
    opacity: 0;
    transform: translate(0, 20%);
    transition: all 0.5s ease-out 0s;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

#nav__list--container {
    /* display: none; */
    background-color: var(--accent-yellow);
    width: 60%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    padding: 100px 0 0 0;
    transform: translate(100%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-out 0s;
}

#nav__list {
    text-align: center;
}

.nav__item {
    margin: 0 0 40px 0;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    color: var(--neutral-dark-blue);
}

#hamburger {
    display: initial;
}

#close {
    /* display: none; */
    position: relative;
    top: -50px;
    left: 30%;
}

/* Features */
.features__selection {
    flex-direction: column;
}

.features__img {
    width: 100%;
    box-shadow: 0px 5px var(--primary-orange);
    margin: 20px 0;
}

/* Download */
#download__list {
    opacity: 0;
    transform: translate(-20%, 0px);
    transition: all 0.5s ease-out 0s;
}

.download__item {
    text-align: center;
    padding: 30px;
    margin: 0 0 50px 0;
    background-color: var(--neutral-beige);
    transition: all 0.2s ease-out 0s;
}

.download__item:hover {
    transform: translate(0, -20px);
}

.download__item:nth-last-of-type(odd) {
    box-shadow: 5px 5px var(--primary-orange);
}

.download__item:nth-last-of-type(even) {
    box-shadow: 5px 5px var(--primary-cyan);
}

.icon--browser {
    margin: 0 0 20px 0;
}

/* Accordion */
#accordion--container {
    opacity: 0;
    transform: translate(0, -20%);
    transition: all 0.5s ease-out 0s;
}

.accordion {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

.accordion__question {
    background-color: transparent;
    font-size: 1em;
    width: 90%;
    font-weight: 700;
    cursor: pointer;
    padding: 15px 0 0 0;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.hide-answer {
    flex-grow: 1;
    max-height: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.arrow {
    transition: all 0.2s ease-out 0s;
    cursor: pointer;
}

/*Footer */
footer {
    background-color: var(--neutral-beige);
    padding: 50px 20px;
}

#joined {
    display: block;
    margin: 0 0 30px 0;
    font-weight: 700;
}

form {
    margin: 30px 0;
}

#email-input {
    padding: 15px 20px;
    font-weight: 700;
    border: 1px solid var(--neutral-dark-blue);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    outline: none;
}

#email-input::placeholder {
    color: var(--neutral-dark-blue);
}

.error--text {
    color: var(--primary-orange);
    font-size: 0.875em;
    display: block;
}

#social-media {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.icon--social {
    margin: 0 15px;
}

@media (min-width: 768px) {
    /* Typography */
    .display1 {
        font-size: 2.25em;
    }

    .display2 {
        font-size: 1.5em;
        margin: 20px 0;
    }

    .display3 {
        font-size: 1.25em;
    }

    p {
        margin: 30px 0 50px 0;
        font-size: 1.125em;
    }

    .text {
        margin: 30px 50% 50px 0;
    }

    /* Header */
    #intro {
        padding: 50px 40% 50px 20px;
    }

    /* Navigation */
    #close {
        display: none;
    }

    #nav__list--container {
        background-color: transparent;
        position: initial;
        width: auto;
        height: auto;
        display: block;
        transform: none;
        padding: 0;
    }

    .nav__item {
        display: inline;
        margin: 0 30px;
        font-style: italic;
        font-weight: 700;
        cursor: pointer;
        background-image: linear-gradient(to right, transparent 0%,#f7c678 0%,#f7c678 100%,transparent 50%);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position: 0% 100%;
        transition: all 0.2s ease-out 0s;
    }

    .nav__item:hover {
        background-size: 100% 100%;
    }

    #hamburger {
        display: none;
    }

    /* Features */
    .features__selection {
        display: flex;
        justify-content: space-evenly;
    }

    .selection {
        cursor: pointer;
        margin: 20px 35%;
    }

    .features__card {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .features__img {
        width: 60%;
    }

    .features__content {
        padding: 50px;
        text-align: left;
    }

    /* Download */
    #download__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .download__item {
        width: 45%;
    }

    /* FAQ */
    #accordion--container {
        padding: 0 20%;
    }

    .accordion__question {
        font-size: 1.125em;
    }

    /* Footer */
    #social-media {
        justify-content: flex-start;
    }

    .icon--social {
        margin: 0 30px 0 0;
    }
}

@media (min-width: 1350px) {
    /* Typography */
    .display1 {
        font-size: 3.125em;
        margin: 30px 0;
        text-transform: uppercase;
        font-style: italic;
    }

    .display2 {
        font-size: 1.875em; 
        text-transform: uppercase;
        margin: 20px 0;
    }

    .display3 {
        font-size: 1.5em;
        font-style: italic;
        margin: 0 0 20px 0;
    }

    p {
        line-height: 1.6;
        margin: 30px 0 50px 0;
    }

    /* Navigation */
    nav {
        padding: 40px;
    }

    /* Header */
    #intro {
        padding: 50px 50% 50px 100px;
    }

    /* Features */
    .features__card {
        padding: 100px 0;
        flex-direction: row;
    }

    .features__selection {
        flex-direction: row;
    }

    .features__img {
        width: 40%;
        box-shadow: 5px 5px var(--primary-orange);
    }

    /* Download */
    .download__item {
        width: 30%;
    }

    /* FAQ */
    .accordion__question {
        font-size: 1.25em;
    }

    #accordion--container {
        padding: 0 30%;
    }

    /* Footer */
    #email-input {
        width: 30%;
    }
}